[Unit]
Description=GitHub Webhook Example
After=network.target

[Service]
Type=simple
User=username
WorkingDirectory=/home/username/GitHubWebhook
ExecStart=python github-webhook.py --dir /srv/app 'git pull && docker-compose up --build --detach'

RestartSec=10
Restart=always

[Install]
WantedBy=multi-user.target
