[Unit]
Description=GitHub Webhook Example
After=network.target

[Service]
Type=simple
User=username
ExecStart=/home/username/GitHubWebhook/github-webhook.sh --dir /srv/app 'git pull && docker-compose up --build --detach'

RestartSec=10
Restart=always

[Install]
WantedBy=multi-user.target
